<div class="card shadow mb-4 d-flex align-items-stretch">
    <div class="card-header text-white bg-secondary">
        <h4>Camera Control</h4>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col d-flex justify-content-center" style="width: 128px">
                <img src="assets/joystick-base.png"/>
                <div class="position-absolute d-flex justify-content-center align-self-center" id="joyCam">
                    <img src="assets/joystick-yellow.png"/>    
                </div>
            </div>
        </div>
    </div>                        
</div>